@import url("../../../common/variables.css");

.posts-wrapper {
  position: relative;
  width: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 30px;
  padding: 10px;
  padding-bottom: 60px;
}

.new-post-button {
  width: 60px;
  height: 60px;
  padding: 10px;

  border-radius: 50%;
  border: 0;

  background-color: var(--primary-color);
  color: #ffffff;
  font-weight: 600;
  font-size: 24px;

  position: fixed;
  bottom: 30px;
  right: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

#posts-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.post {
  width: 100%;
  margin: 10px;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  background-color: #ffffff;
  color: var(--primary-color);
  box-shadow: 3px 4px 4px 0 rgba(204, 204, 204, 0.25);

  text-decoration: none;
}

.post-title {
  font-size: 24px;
  font-weight: 600;
  padding: 15px;
}

.post-info {
  padding: 0 15px;
  display: flex;
  justify-content: start;
}

.post-info span {
  font-size: 12px;
  margin-right: 15px;
  font-weight: 400;
}

.date {
  flex: 1 0 0;
  text-align: right;
}

.author-text {
  padding: 0 15px 15px 15px;
  font-weight: 500;
}
