:root {
  /* 색상 */
  --primary-color: rgb(7, 85, 59);
  --primary-color-disabled: rgba(7, 85, 59, 0.3);
  --secondary-color: rgb(206, 212, 106);
  --secondary-color-disabled: rgba(206, 212, 106, 0.3);
  --background-color: #f6f6e6;
  --text-color: #000000;
  --text-color-light: #ffffff;
  --border-color: #e0e0e0;
  --placeholder-color: #c4c4c4;
  --error-color: #ff0000;
}
