@import url("../../../common/variables.css");

.signupWrapper {
  width: 400px;
  flex: 1 0 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  margin-top: 20px;
  padding: 20px;
  color: var(--primary-color);
}

.signupTitleText {
  font-weight: 700;
  font-size: 32px;
  line-height: 38.19px;
}

.signupInputContainer {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.signupInputTitleText {
  font-weight: 700;
  font-size: 15px;
}

.signupButton {
  width: 100%;
  height: 37px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-color-disabled);
  color: #ffffff;
  text-decoration: none;

  border: 0;
  border-radius: 10px;
}
